.form-input {
    width: 100%;
    margin-top: 90px;
    background: white;
    border: 1px solid lightgrey;
    border-radius: 8px;
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 1em;
    

    input {
        width: 100%;
        font-size: 24px;
        color: rgb(40, 40, 40);
        border: none;
        outline: none
        
        
    }
    
}

.todo-button {
    
        display: none;
    
}

.dark-mode{
    form{
        background-color: #494b61a1;
    }
    input{
background-color: #ffffff00;
}
}