
.todo-container {
    
    
    justify-content: center;
    align-items: center;
    max-height: 60vh;
    overflow-y: auto;
    margin-top: 2em;
    border-radius: 2%;
    height: 60vh;

}
.todo-list {
    min-width: 100%;
    list-style: none;
}