header {
    height: 400px;
    width: 100%;
    
    
    img {
        object-fit: cover;
        width: 100%;
        max-height: 400px;
        z-index: -1;
        min-height: 250px;
        min-width: 500px;
    }
    
}

// "https://www.nationalgeographic.com.es/medio/2021/02/10/julian-alps_97b6a78d_1920x1280.jpg"



